@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html{
  background-color: whitesmoke;
}

body {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

button{
  position: relative;
}

button[title]:hover::after{
  content: attr(title);
  position: absolute;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: black;
  color: white;
  border-radius: 2px;
  top: 60px;
  left: 5px;
  z-index: 10;
}

.check-field {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}